<div class="nav">
	<div class="list-opts">
		<div class="nav-links">
			<a href="/admin/catalogs/batch_new">批量增加分类</a>
			<a href="/admin/catalogs/new">添加分类</a>
		</div>
	</div>
</div>
<%= form_tag "/admin/catalogs/batch_update" do |f| %>
<div class="main">
<table class="stdtable edtable">
	<thead>
		<tr>
			<th width="10%">编号</th>
			<th>名称</th>
			<th width="20%">路径</th>
			<th width="20%">排序</th>
			<th width="30%">管理</th>
		</tr>
	</thead>
	<%
		if @catalogs.length>0
	%>
	<tbody>
	<%
			@catalogs.each do |catalog|
	%>
		<tr>
			<td><%= catalog.id %></td>
			<td style="text-align:left;"><%= text_field "catalog[#{catalog.id}]", :name, :style => "width:120px", :value => catalog.name %></td>
			<td><%= text_field "catalog[#{catalog.id}]", :cdir, :style => "width:120px", :value => catalog.cdir %></td>
			<td><%= text_field "catalog[#{catalog.id}]", :sortrank, :style => "width:120px", :value => catalog.sortrank %></td>
			<td>
				<a href="/admin/catalogs/new?cid=<%= catalog.id %>">添加子类</a>|<a href="/admin/catalogs/<%= catalog.id %>/edit">移动分类</a>|<a href="/admin/catalogs/<%= catalog.id %>/clear">清空</a>|
				<%= link_to "删除", {:action => "destroy", :id => catalog}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
		<%
				catalog.sub_catalogs.each do |sub_catalog|
		%>
		<tr>
			<td><%= sub_catalog.id %></td>
			<td style="text-align:left;">|--&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field "catalog[#{sub_catalog.id}]", :name, :style => "width:120px", :value => sub_catalog.name %></td>
			<td><%= text_field "catalog[#{sub_catalog.id}]", :cdir, :style => "width:120px", :value => sub_catalog.cdir %></td>
			<td><%= text_field "catalog[#{sub_catalog.id}]", :sortrank, :style => "width:120px", :value => sub_catalog.sortrank %></td>
			<td>
				<a href="/admin/catalogs/new?cid=<%= sub_catalog.id %>">添加子类</a>|<a href="/admin/catalogs/<%= sub_catalog.id %>/edit">移动分类</a>|<a href="/admin/catalogs/<%= sub_catalog.id %>/clear">清空</a>|
				<%= link_to "删除", {:action => "destroy", :id => sub_catalog}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
		<%
					sub_catalog.sub_catalogs.each do |sub_sub_catalog|
		%>
		<tr>
			<td><%= sub_sub_catalog.id %></td>
			<td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|--&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field "catalog[#{sub_sub_catalog.id}]", :name, :style => "width:120px", :value => sub_sub_catalog.name %></td>
			<td><%= text_field "catalog[#{sub_sub_catalog.id}]", :cdir, :style => "width:120px", :value => sub_sub_catalog.cdir %></td>
			<td><%= text_field "catalog[#{sub_sub_catalog.id}]", :sortrank, :style => "width:120px", :value => sub_sub_catalog.sortrank %></td>
			<td>
				<a href="/admin/catalogs/<%= sub_sub_catalog.id %>/edit">移动分类</a>|<a href="/admin/catalogs/<%= sub_sub_catalog.id %>/clear">清空</a>|
				<%= link_to "删除", {:action => "destroy", :id => sub_sub_catalog}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
		<%
					end
		%>
		<%
				end
		%>
	<%
			end
	%>
	</tbody>
	<tfoot>		
		<tr>
			<td class="data_sbt" colspan="5">
				<input type="submit" name="submit" value="保存" />
			</td>
		</tr>
	</tfoot>
	<%
		else
	%>
	<tbody>
		<tr>
			<td colspan="5" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	</tbody>
	<%
		end
	%>
</table>
</div>
<% end %>
